# Configuration file

balancing {
    # Allows Shards to absorb spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # The item used to create a Soul Shard. [default: minecraft:diamond:0]
    S:catalystItem=minecraft:diamond:0

    # Enables a convenience recipe that allows you to reset the stats of a Soul Shard. [default: true]
    B:convenienceReset=true

    # The cooldown time set in "ShardTiers.json" should use seconds instead of ticks. Allows finer control over tiers.
    # 1 second = 20 ticks
    # I suggest not changing this unless you have edited the configs. [default: true]
    B:cooldownUsesSeconds=true

    # Count mobs spawned by a Soul Cage towards Shard kills. [default: true]
    B:countCageBornForShard=true

    # Allows bosses to be spawned. This is probably the worst thing you can do to your instance. [default: false]
    B:enableBosses=false

    # Mobs spawned via a Soul Cage will drop experience upon death. [default: true]
    B:enableExperienceDrop=true

    # Forces Soul Cages to require a Redstone signal in order to spawn entities. [default: false]
    B:forceRedstoneRequirement=false

    # Requires the player who put the shard into the Soul Cage to be online for it to be active. [default: false]
    B:requireOwnerOnline=false

    # Amount of souls to add when absorbing a spawner. [range: 0 ~ 1024, default: 200]
    I:spawnerAbsorptionBonus=200
}


client {
    # Adds a Shard for each enabled mob to the creative tab. [default: false]
    B:addShardsForAllMobs=true

    # Adds A shards for mobs even if they are blacklisted [default: false]
    B:ignoreBlacklistForTab=false
}


compatibility {
    # The type of spawning mechanic to use for the Soul Cage.
    # Valid values:
    # VANILLA - The standard spawning mechanic.
    # BLOODMAGIC - Requires 100 LP per mob spawned.
    # HARDMODE - Reduces the contained souls of the shard by 1 for each mob spawned. Does not reduce tier. Recommended to disable "countCageBornForShard".
    S:compatibilityType=HARDMODE

    # Adds a Tinkers Construct modifier for Soul Stealer. [default: true]
    B:enableSoulStealerModifier=true

    # Amount of LP required for each mob spawned.
    # If this amount is not contained in the LP network, a nausea effect will be applied to the player and the Soul Cage will stop functioning. [range: 0 ~ 2147483647, default: 250]
    I:lpPerMob=250
}


debug {
    # If enabled, additional information will be logged to console. Mostly timing information. [default: false]
    B:debugLogging=false

    # Allows disabled entities to still be spawned by the cage. They are, however, still not obtainable on a shard. [default: false]
    B:enableBlacklistedSpawning=false
}


enchantments {
    # Amount of bonus kills to provide per enchantment level. [range: 1 ~ 5, default: 1]
    I:soulStealerBonus=5

    # ID for the Soul Stealer enchantment. If you have Enchantment ID conflicts, change this. [range: 63 ~ 256, default: 70]
    I:soulStealerID=70

    # Weight of the Soul Stealer enchantment. Higher values make it more common. [range: 1 ~ 10, default: 3]
    I:soulStealerWeight=3
}


##########################################################################################################
# entity list
#--------------------------------------------------------------------------------------------------------#
# Set an entity to false to disable it's ability to be spawned.
##########################################################################################################

"entity list" {
    B:Bat=true
    B:BiomesOPlenty.butterfly=true
    B:BiomesOPlenty.pixie=true
    B:BiomesOPlenty.snail=true
    B:BiomesOPlenty.wasp=true
    B:Blaze=true
    B:"Botania.botania:doppleganger"=true
    B:"Botania.botania:pinkWither"=true
    B:"Botania.botania:pixie"=true
    B:CaveSpider=true
    B:Chicken=true
    B:Cow=true
    B:Creeper=true
    B:DaytimeZombie.daytimezombie=true
    B:EnderDragon=true
    B:Enderman=true
    B:Endermite=true
    B:EntityHorse=true
    B:Ghast=true
    B:Giant=true
    B:Guardian=true
    B:Husk=true
    B:InventoryPets.EntityAnvilPet=true
    B:InventoryPets.EntityBedPet=true
    B:InventoryPets.EntityBillGates=true
    B:InventoryPets.EntitySatyaNadella=true
    B:InventoryPets.EntitySteveBallmer=true
    B:InventoryPets.MiniQuantumBlaze=true
    B:InventoryPets.MiniQuantumEnderman=true
    B:LavaSlime=true
    B:MCA.EntityGrimReaper=true
    B:MCA.EntityHuman=true
    B:MushroomCow=true
    B:Ozelot=true
    B:Pig=true
    B:PigZombie=true
    B:PolarBear=true
    B:Quark.ashen=true
    B:Quark.dweller=true
    B:Quark.pirate=true
    B:Quark.wraith=true
    B:Rabbit=true
    B:Sheep=true
    B:Shulker=true
    B:Silverfish=true
    B:Skeleton=true
    B:Slime=true
    B:SnowMan=true
    B:SophisticatedWolves.SWWolf=true
    B:Spider=true
    B:Squid=true
    B:Stray=true
    B:ToughAsNails.freeze=true
    B:Villager=true
    B:VillagerGolem=true
    B:Witch=true
    B:"Wither Skeleton"=true
    B:WitherBoss=true
    B:WitherSkeleton=true
    B:Wolf=true
    B:Zombie=true
    B:abyssalcraft.Jzahar=true
    B:abyssalcraft.abygolem=true
    B:abyssalcraft.abyssalzombie=true
    B:abyssalcraft.antiabyssalzombie=true
    B:abyssalcraft.antibat=true
    B:abyssalcraft.antichicken=true
    B:abyssalcraft.anticow=true
    B:abyssalcraft.anticreeper=true
    B:abyssalcraft.antighoul=true
    B:abyssalcraft.antipig=true
    B:abyssalcraft.antiplayer=true
    B:abyssalcraft.antiskeleton=true
    B:abyssalcraft.antispider=true
    B:abyssalcraft.antizombie=true
    B:abyssalcraft.chagaroth=true
    B:abyssalcraft.chagarothfist=true
    B:abyssalcraft.chagarothspawn=true
    B:abyssalcraft.demonchicken=true
    B:abyssalcraft.demoncow=true
    B:abyssalcraft.demonpig=true
    B:abyssalcraft.demonsheep=true
    B:abyssalcraft.depthsghoul=true
    B:abyssalcraft.dragonboss=true
    B:abyssalcraft.dragonminion=true
    B:abyssalcraft.dreadgolem=true
    B:abyssalcraft.dreadguard=true
    B:abyssalcraft.dreadling=true
    B:abyssalcraft.dreadspawn=true
    B:abyssalcraft.evilchicken=true
    B:abyssalcraft.evilcow=true
    B:abyssalcraft.evilpig=true
    B:abyssalcraft.evilsheep=true
    B:abyssalcraft.greaterdreadspawn=true
    B:abyssalcraft.gskeleton=true
    B:abyssalcraft.jzaharminion=true
    B:abyssalcraft.lesserdreadbeast=true
    B:abyssalcraft.lessershoggoth=true
    B:abyssalcraft.omotholghoul=true
    B:abyssalcraft.remnant=true
    B:abyssalcraft.shadowbeast=true
    B:abyssalcraft.shadowboss=true
    B:abyssalcraft.shadowcreature=true
    B:abyssalcraft.shadowmonster=true
    B:"battletowers.Battletower Golem"=true
    B:evilcraft.controlledZombie=true
    B:evilcraft.netherfish=true
    B:evilcraft.poisonousLibelle=true
    B:evilcraft.vengeanceSpirit=true
    B:evilcraft.werewolf=true
    B:golems.golem_bedrock=true
    B:golems.golem_bone=true
    B:golems.golem_bookshelf=true
    B:golems.golem_clay=true
    B:golems.golem_coal=true
    B:golems.golem_crafting=true
    B:golems.golem_diamond=true
    B:golems.golem_emerald=true
    B:golems.golem_end_stone=true
    B:golems.golem_glass=true
    B:golems.golem_glowstone=true
    B:golems.golem_gold=true
    B:golems.golem_hardened_clay=true
    B:golems.golem_ice=true
    B:golems.golem_lapis=true
    B:golems.golem_leaves=true
    B:golems.golem_magma=true
    B:golems.golem_melon=true
    B:golems.golem_nether_brick=true
    B:golems.golem_nether_wart=true
    B:golems.golem_obsidian=true
    B:golems.golem_prismarine=true
    B:golems.golem_quartz=true
    B:golems.golem_red_sandstone=true
    B:golems.golem_redstone=true
    B:golems.golem_sandstone=true
    B:golems.golem_sea_lantern=true
    B:golems.golem_shroom=true
    B:golems.golem_slime=true
    B:golems.golem_sponge=true
    B:golems.golem_stained_clay=true
    B:golems.golem_stained_glass=true
    B:golems.golem_straw=true
    B:golems.golem_tnt=true
    B:golems.golem_wooden=true
    B:golems.golem_wool=true
    B:jurassicraft.brachiosaurus=true
    B:jurassicraft.dilophosaurus=true
    B:jurassicraft.gallimimus=true
    B:jurassicraft.parasaurolophus=true
    B:jurassicraft.triceratops=true
    B:jurassicraft.tyrannosaurus=true
    B:jurassicraft.velociraptor=true
    B:minecolonies.Citizen=true
    B:mocreatures.Anchovy=true
    B:mocreatures.AngelFish=true
    B:mocreatures.Angler=true
    B:mocreatures.Ant=true
    B:mocreatures.Bass=true
    B:mocreatures.Bear=true
    B:mocreatures.Bee=true
    B:mocreatures.BigGolem=true
    B:mocreatures.Bird=true
    B:mocreatures.BlackBear=true
    B:mocreatures.Boar=true
    B:mocreatures.Bunny=true
    B:mocreatures.ButterFly=true
    B:mocreatures.CaveOgre=true
    B:mocreatures.ClownFish=true
    B:mocreatures.Cod=true
    B:mocreatures.Crab=true
    B:mocreatures.Cricket=true
    B:mocreatures.Crocodile=true
    B:mocreatures.Deer=true
    B:mocreatures.Dolphin=true
    B:mocreatures.DragonFly=true
    B:mocreatures.Duck=true
    B:mocreatures.Egg=true
    B:mocreatures.Elephant=true
    B:mocreatures.Ent=true
    B:mocreatures.FireOgre=true
    B:mocreatures.Firefly=true
    B:mocreatures.Fishy=true
    B:mocreatures.FlameWraith=true
    B:mocreatures.Fly=true
    B:mocreatures.Fox=true
    B:mocreatures.Goat=true
    B:mocreatures.GoldFish=true
    B:mocreatures.GreenOgre=true
    B:mocreatures.GrizzlyBear=true
    B:mocreatures.HellRat=true
    B:mocreatures.HippoTang=true
    B:mocreatures.HorseMob=true
    B:mocreatures.JellyFish=true
    B:mocreatures.Kitty=true
    B:mocreatures.KittyBed=true
    B:mocreatures.KomodoDragon=true
    B:mocreatures.Leoger=true
    B:mocreatures.Leopard=true
    B:mocreatures.Liard=true
    B:mocreatures.Liger=true
    B:mocreatures.Lion=true
    B:mocreatures.Lither=true
    B:mocreatures.LitterBox=true
    B:mocreatures.Maggot=true
    B:mocreatures.Manderin=true
    B:mocreatures.MantaRay=true
    B:mocreatures.Manticore=true
    B:mocreatures.ManticorePet=true
    B:mocreatures.MediumFish=true
    B:mocreatures.MiniGolem=true
    B:mocreatures.Mole=true
    B:mocreatures.Mouse=true
    B:mocreatures.Ogre=true
    B:mocreatures.Ostrich=true
    B:mocreatures.PandaBear=true
    B:mocreatures.Panthard=true
    B:mocreatures.Panther=true
    B:mocreatures.Panthger=true
    B:mocreatures.PetScorpion=true
    B:mocreatures.Piranha=true
    B:mocreatures.PolarBear=true
    B:mocreatures.Raccoon=true
    B:mocreatures.Rat=true
    B:mocreatures.Roach=true
    B:mocreatures.Salmon=true
    B:mocreatures.Scorpion=true
    B:mocreatures.Shark=true
    B:mocreatures.SilverSkeleton=true
    B:mocreatures.SmallFish=true
    B:mocreatures.Snail=true
    B:mocreatures.Snake=true
    B:mocreatures.StingRay=true
    B:mocreatures.Tiger=true
    B:mocreatures.Turkey=true
    B:mocreatures.Turtle=true
    B:mocreatures.WWolf=true
    B:mocreatures.Werewolf=true
    B:mocreatures.WildHorse=true
    B:mocreatures.Wraith=true
    B:mocreatures.Wyvern=true
    B:overlord.skeleton_baby=true
    B:overlord.skeleton_warrior=true
    B:petbat.petbat=true
    B:sapturretmod.turret_i_crossbow=true
    B:sapturretmod.turret_i_shotgun=true
    B:sapturretmod.turret_i_snowball=true
    B:sapturretmod.turret_ii_minigun=true
    B:sapturretmod.turret_ii_revolver=true
    B:tconstruct.blueslime=true
    B:wolfarmor.Wolf=true
}


general {
    # Displays a durability bar on the shard as an indicator on how close to maxed it is [default: true]
    B:displayDurabilityBar=true

    # Max amount of mobs spawned by a given spawner in a 16 block radius. [range: 0 ~ 256, default: 30]
    I:spawnCap=30
}


